.container {
  max-width: 900px;
}

ul {
  list-style: disc inside;
  margin-left: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

/* Overriding Bootstrap */
.list-style {
  list-style-type: disc !important;
}
