/* Make the images rounder if you like */
.member-photo {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

/* For the big profile photo */
.profile-photo {
  height: 250px;
  object-fit: cover;
}

.member-profile {
  max-width: 900px;
}

.member-profile .card {
  border: none;
}

/* Just an example of spacing */
.members-list {
  max-width: 1000px;
}

select {
  padding: 5rem;
  background-color: #edf2fc !important;
}

.tr {
  padding: 1rem;
  background-color: #edf2fc !important;
}

.table>:not(caption)>*>* {
    background-color: none !important;
}

ul.pagination {
  margin: 0;
}

.pagination .custom-active .page-link {
  background-color: #3D5A80;
  color: #fff;
  border-color: #3D5A80;
}

.pagination .custom-active .page-link:hover {
  background-color: #3D5A80;
  border-color: #3D5A80;
}

.table td {
  padding: 2rem;
}

.table th, tr  {
  text-align: center;
}


