.detail-thumbnail {
  width: 100%;
  display: block;
}

.tab-content {
  background-color: #fff;
}

.title-color {
  color: #2a5078;
}

.button-classic-color {
  background-color: #EDF2FC !important;
  color: #3D5A80 !important;
  font-weight: bold !important;
}
.btn-primary-active {
  background-color: #3D5A80 !important;
  color: #fff !important;
}
.tab-content-detail-tribine {
  padding-left: 20px;
}