@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  all: unset;
}

body,
html {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.fs-8 {
  font-size: 10px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.width-wrapper {
  margin: 0 auto;
  width: 75%;
}

@media (max-width: 800px) {
  .width-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

.d-inline-block {
  display: inline-block;
}

.primary-bg {
  background-color: #3d5a80 !important;
}

.primary-color {
  color: #3d5a80;
}

.title-color {
  color: #1a1675;
}

.tab-image {
  width: 250px;
}

.tabs-orange {
  background-color: #ee6c4d;
}

.tabs-darkblue {
  background-color: #293241;
}

.tabs-blue {
  background-color: #3d5a80;
}

.tabs-lightblue {
  background-color: #e0fbfc;
}

.tabs {
  position: relative; /* Make the parent div a positioning context */
  width: 150px; /* Example width */
  height: 280px; /* Example height */
  overflow: hidden; /* Ensure content doesn't overflow */
  cursor: pointer;
}

.tab-image {
  position: absolute;
  bottom: -13px;
  right: -10px; /* Adjust spacing from the right */
  max-width: 200px; /* Adjust the size of the image */
  max-height: 200px; /* Adjust the size of the image */
}

.color-primary {
  color: #3d5a80;
}

.w-70 {
  width: 73%;
}

.background-container {
  height: 100vh;
  position: absolute;
  background-color: white; /* White background */
  background-image: url('assets/wave-background.png'); /* Replace with your image URL */
  background-repeat: repeat-y; /* Makes the image repeat */
  background-position: center; /* Centers the repeating pattern */
  background-size: 75%; /* Keeps the original size of the image */
  width: 100%; /* Makes the background-container 90% of the viewport width */
  margin: 0 auto; /* Centers the container horizontally */
  z-index: -1;
  opacity: 5%;
}

@media (max-width: 800px) {
  .background-container {
    background-size: 90%;
  }
}