@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  font-size: 16px;

  --font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Primary Font Sizes (Scale) */
  --font-size-2xs: 0.5rem; /* 10px  */
  --font-size-xs: 0.75rem; /* 12px  */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px  */
  --font-size-2xl: 2rem; /* 32px   */
  --font-size-3xl: 3rem; /* 48px   */

  /* Primary colors */
  --color-primary: #3d5a80;
  --color-secondary: #00296b;
  --color-light-blue: #edf2fc;
  --color-title: #1a1675;
  --color-border: #1a1675;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-md); /* fallback for body text */
  line-height: 1.5;
  color: #333; /* or your default text color */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  transition: 0.5s ease-in-out;
}

.cursor-pointer {
  cursor: pointer;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.rounded-lg {
  border-radius: 10px;
}

ul {
  list-style: none !important;
}
